beautifulsoup4
fastmcp
playwright
playwright-stealth
urllib3
httpx
asyncio
litellm
openai
qdrant_client
models
Chroma
uuid
pandas
typing
islice
numpy
tiktoken
langchain
langchain-chroma
langchain-openai
langchain_text_splitters
langchain_core
