asyncio
beautifulsoup4
Chroma
fastmcp
httpx
langchain
langchain_core
langchain_text_splitters
langchain-chroma
langchain-openai
litellm
numpy
openai
pandas
playwright
playwright-stealth
protobuf<=3.20.3
qdrant-client>=1.7.0
tiktoken
typing
urllib3
uuid
