asyncio
beautifulsoup4
Chroma
fastmcp
httpx
langchain
langchain_core
langchain_text_splitters
langchain-chroma
langchain-openai
litellm
numpy
openai
pandas
playwright
playwright-stealth
qdrant_client
tiktoken
typing
urllib3
uuid
